@import url('https://fonts.googleapis.com/css2?family=Alexer+Pro+Black+Italic&display=swap');

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://static.vecteezy.com/system/resources/previews/004/256/686/non_2x/abstract-dark-pink-gradient-geometric-background-modern-background-design-wave-liquid-shapes-composition-creative-templates-fit-for-presentation-design-website-basis-for-banners-wallpapers-free-vector.jpg') no-repeat center center/cover;
    margin: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Alexer Pro Black Italic', sans-serif;
}

.input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
}

input {
    width: 70px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-weight: bold;
}

button {
    background-color: #6a0dad;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 20px auto 0 auto;
    width: 50px;
    height: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 0;
}

button::before {
    content: '\2193';
    font-size: 1.8rem;
    color: white;
}

.result {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    line-height: 0.8;
    margin-top: 1rem;
    font-family: 'Alexer Pro Black Italic', sans-serif;
    font-weight: 900;
}

.result span {
    display: inline;
    font-size: 4.5rem;
    color: #6a0dad;
    font-weight: 900;
    padding-right: 4px;
}

.title {
    font-family: 'Alexer Pro Black Italic', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .container {
        max-width: 90%;
        padding: 1.5rem;
        border-radius: 25px;
    }

    .input-container {
        flex-direction: row;
        gap: 8px;
    }

    input {
        width: 60px;
        padding: 8px;
    }

    button {
        width: 45px;
        height: 45px;
        font-size: 0;
        padding: 10px;
        margin-top: 20px;
    }
    
    button::before {
        font-size: 1.5rem;
    }
    
    .result {
        font-size: 2.8rem;
        font-weight: 900;
        line-height: 0.8;
    }

    .result span {
        font-size: 3.5rem;
        font-weight: 900;
        padding-right: 4px;
    }
}
